/opt/server/srcds_run -debug -strictportbind -game garrysmod +gamemode {{ getv "/config/gamemode" }} {{ if exists "/config/apikey" }} -authkey {{ getv "/config/apikey" }}{{ end }} {{ if exists "/config/collection_id" }} +host_workshop_collection {{ getv "/config/collection_id" }}{{ end }} +map "{{ getv "/config/starting_map" }}" +maxplayers {{ getv "/config/max_players" }} -strictportbind -ip 0.0.0.0 -port {{ getv "/ports/27015_UDP" }} +tv_port {{ getv "/ports/27020_UDP" }} +clientport {{ getv "/ports/27005_UDP" }} 2>&1 | tee /opt/data/logs/stdout.log
