/opt/server/srcds_run -console -autoupdate -strictportbind -game garrysmod {{ if exists "/config/apikey" }} -authkey {{ getv "/config/apikey" }}{{ end }} {{ if exists "/config/collection_id" }} +host_workshop_collection {{ getv "/config/collection_id" }}{{ end }} +log on -maxplayers {{ getv "/config/max_players" }} +map {{ getv "/config/map" }} +sv_lan 0 +rcon_password "{{ getv "/config/rcon_password" }}" -strictportbind -ip 0.0.0.0 -hostport {{ getv "/ports/27015_UDP" }} +tv_port {{ getv "/ports/27020_UDP" }} +clientport {{ getv "/ports/27005_UDP" }} 
