log on
hostname "{{ .hostname }}"
rcon_password "{{ .rcon_password }}"
sv_lan "{{ .sv_lan }}"
sv_region "{{ .sv_region }}"
{{ if .sv_password }} sv_password "{{ .sv_password }}"{{ end }}


sbox_allownpcs {{ .sbox_allownpcs }}
sbox_godmode {{ .sbox_godmode }}
sbox_plpldamage {{ .sbox_plpldamage }}
sbox_playergod {{ .sbox_playergod }}
sbox_noclip {{ .sbox_noclip }}

sbox_maxprops {{ .sbox_maxprops }}
sbox_maxragdolls {{ .sbox_maxragdolls }}
sbox_maxnpcs {{ .sbox_maxnpcs }}
sbox_maxballoons {{ .sbox_maxballoons }}
sbox_maxeffects {{ .sbox_maxeffects }}
sbox_maxdynamite {{ .sbox_maxdynamite }}
sbox_maxlamps {{ .sbox_maxlamps }}
sbox_maxthrusters {{ .sbox_maxthrusters }}
sbox_maxwheels {{ .sbox_maxwheels }}
sbox_maxhoverballs {{ .sbox_maxhoverballs }}
sbox_maxvehicles {{ .sbox_maxvehicles }}
sbox_maxbuttons {{ .sbox_maxbuttons }}
sbox_maxsents {{ .sbox_maxsents }}
sbox_maxemitters {{ .sbox_maxemitters }}
sbox_maxspawners {{ .sbox_maxspawners }}
sbox_maxturrets {{ .sbox_maxturrets }}
